body{
    background-color: azure;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* styles for header section */

#header-logo{
    flex:1;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 0 6rem;
    background-color: #1f2937;
    color: white;
}

.header-link{
    align-self: flex-end;
    align-self: center;
    font-size: 0.8rem;
}

/* styles for upper section */

#up-placeholder{
    background-color: grey;
    width: 50%;
    max-width: 50%;
    padding: 5rem 7rem;
    text-align: center;
    box-sizing: border-box;
}

.upper{
    padding: 3rem 6rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    color: white;
    background-color: #1f2937;
}

.up-text{
    width: 50%;
}

.up-text button{
    color: white;
    background-color: #3882f6;
    padding: 0.4rem 1.2rem;
    border: none;
    border-radius: 4px;
    transition-duration: 0.3s;
}

.up-text button:hover{
    color: #3882f6;
    background-color: white;
    cursor: pointer;
}

/* Styles for icon section */

#icon-title{
    text-align: center;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3rem 5rem;
    flex-wrap:wrap;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;
}

.icon:hover{
    opacity: 1;
    cursor:pointer;
}

.icon-img{
    background-color:azure;
    box-sizing: border-box;
    height: 8rem;
    width: 8rem;
    border: 4px solid #3882f6;
    border-radius: 12px;
}

.icon-text{
    font-size: 0.9rem;
    text-align: center;
    max-width: 8rem;
}